name: Documentation

on:
  push

jobs:
  doc:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2

      - name: cargo doc
        run: cargo doc --workspace --features server --no-deps
        env:
          RUSTDOCFLAGS: "-D warnings"
